.cover{
	background-color: #373a70;
	min-height: 100%; 
	margin: 0px;
}
#login_btn{
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #31589e;
	border: 2px;
	border-radius: 25px;

}
nav{
	padding-top: 1.5%;
	margin-left: 54%;
	
}
#logo{
	width: 200px;
	float: left;
}
a{
	font-family: 'PT Sans', sans-serif;
	color: white;
	text-decoration: none;
	
	font-size: 23px;
}
.nav{
	margin-left: 2em;
}
a:hover{
	text-decoration: none;
}
html, body {
    		height: 100%;
    		margin: 0;
    	}
p{
	font-family: 'Passion One', cursive;
	margin: 0%;

}
.cvr_text{
	letter-spacing: 2px;
	color: white;
	font-size: 35px;
	
}
.cvr_right{
	float: right;
	margin-top: 200px;
	margin-right: 60px;
}
.sign_up_button{
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #c73b3b;
	border: 2px;
	border-radius: 25px;
}
#signup_btn_cvr{
	margin-top: 50px;
}
#lft_img{
	width: 550px;
	float: left;
	margin-left: -10em;
	
}
#arrow{
	margin-left: 2.5em;
	margin-top: 4em;
}
.works{
	background-color: #dedaff;
	min-height: 90%; 
	margin: 0px;
}
#works_left{
	float: left;
	margin-top: 5em;
	margin-left: 7em;
	min-height: 300px;
	min-width: 300px;
	background-color: white;
	border: 2px;
	border-radius: 10px;
	box-shadow: 0px 5px 10px #888888;
}
#works_center{
	float: left;
	margin-top: 5em;
	margin-left: 5em;
	min-height: 300px;
	min-width: 300px;
	background-color: white;
	border: 2px;
	border-radius: 10px;
	box-shadow: 0px 5px 10px #888888;

}
#works_right{
	float: left;
	margin-top: 5em;
	margin-left: 5em;
	min-height: 300px;
	min-width: 300px;
	background-color: white;
	border: 2px;
	border-radius: 10px;
	box-shadow: 0px 5px 10px #888888;
}
.works_para{
	margin-top: 1em;
	color: #373a70;
	font-size: 35px;
	text-align: center;
}
.works_disc{
	font-family: 'PT Sans', sans-serif;
	margin-top: 30px;
	margin-left: 25px;
	text-align: justify;
	font-size: 20px;
	max-width: 250px;
}
#works_head{
	color: #373a70;
	font-size: 45px;
	min-width: 100%;
	text-align: center;
	padding-top: 50px;
}
.dashes{
	margin-right: 21%;
	margin-top: 300px;
	background-image: url('../img/dashes_up.png');
	background-repeat: no-repeat;
	background-size:contain;
    background-position: right top;
	min-width: 400px;
	min-height: 200px;
}
.sign_up_2{
	background-color: #373a70;
	min-height: 50%; 
	margin: 0px;
	background-image: url('../img/money.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 600px;
}
#signup_2_head{
	font-family: 'Passion One', cursive;
	font-size: 45px;
	color: white;
	width: 100%;
	text-align: center;
	padding-top: 3%;
}
#signup_2_btn{
	margin-left: 43%;
	margin-top: 9%;
}
.team{
	background-color: #dedaff;
	min-height: 50%; 
	margin: 0px;
	background-image: url('../img/dashes_down.png');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 700px;
}
#team_head{
	color: #373a70;
	font-size: 45px;
	min-width: 100%;
	text-align: center;
	padding-top: 50px;
}
.prof{
	float: left;
	
}
#prof_1{
	background-image: url('../img/profile_pic.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	margin-left: 30%;
	margin-top: 1%;
	box-shadow: 0px 5px 10px #888888;
	width: 100px;
	height: 100px;
}
#prof_2{
	background-image: url('../img/photo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	margin-left: 25%;
	margin-top: 1%;
	box-shadow: 0px 5px 10px #888888;
	width: 100px;
	height: 100px;
}
.prof_desc{
	font-family: 'PT Sans', sans-serif;
	color: black;
	float: left;
	margin-top: 10%;
	font-size: 20px;
}
#prof_desc_1{
		margin-left: -42.5%;
		text-align: justify;

}
#prof_desc_2{
	margin-left: -10%;
		text-align: justify;
}
#prof_pos_1{
		margin-left: -41%;
		text-align: justify;

}
#prof_pos_2{
	margin-left: -8%;
		text-align: justify;
}
.partners{
	background-color: #373a70;
	min-height: 80%;
	margin: 0px;
}
#partners_head{
	font-family: 'Passion One', cursive;
	font-size: 45px;
	color: white;
	width: 100%;
	text-align: center;
	padding-top: 5%;
}
.partners_img{
	margin-right: 5%;
	opacity: 0.4;
}
#partners_upper{
	margin-left: 12%;
}
#partners_lower{
	margin-left: 30%;
}
.copyright{
	background-color: #fff;
	min-height: 10%; 
	margin: 0px;
}
#copyright_para{
	font-family: 'PT Sans', sans-serif;
	color: black;
	width: 100%;
	text-align: center;
	margin-top: 1%;
	font-size: 15px;
}
.link_footer{
	font-size: 15px;
	color: black;
	margin-right: 2%;
	margin-left: 2%;
}
#footer_links{
	margin-top: 1%;
	margin-left: 39%;
}
.dash{
	display: inline;
}
